{% extends "base.html" %}
{% from 'macros.html' import form_errors, form_field %}

{% set pagetitle = "Coders' Efficiency" %}
{% set seotitle = "Coders' Efficiency" %}
{% set seodescription = "Coders' Efficiency – Script create coders' efficiency rating by analyse git repository data." %}

{% block main %}
    <div class="ui page grid" style="margin-top: 30px;margin-bottom: 30px;">
        <div class="row">
            <div class="column">
                <h1 class="ui center aligned header">{{ pagetitle }}</h1>
                <div class="ui segment">
                    <h2 class="ui header">Configuration</h2>
                    {{ form_errors(form) }}
                    <form class="ui form configurations" action="{{ url_for('.home') }}#rate" method="POST">
                        {{ form_field(form, form.repo_path) }}
                        <div class="ui grid">
                            <div class="eight wide column">
                                {{ form_field(form, form.ignore_pathes) }}
                            </div>
                            <div class="eight wide column">
                                <br/>
                                <p><small>
                                    Add pathes as <strong>relative</strong> to the repo path.<br/>
                                    All folders and files from .gitignore are excluded automatically.
                                </small></p>
                                <p><small>
                                    You can use next patters:<br/>
                                    * – matches everything<br/>
                                    ? – matches any single character<br/>
                                    [seq] – matches any character in seq<br/>
                                    [!seq] – matches any character not in seq
                                </small></p>
{#                                <p><small>#}
{#                                    For a literal match, wrap the meta-characters in brackets. For example, '[?]' matches the character '?'.#}
{#                                </small></p>#}
{#                                <br/>#}
                            </div>
                        </div><br/>
                        <div class="two fields">
                            {{ form_field(form, form.min_days) }}
                            {{ form_field(form, form.min_loc) }}
                        </div>
                        {{ form_field(form, form.anonym) }}
                        {{ form.submit(class_="ui submit button") }}
                    </form>

                    {% if rate['authors'] %}
                        <a id="rate"></a>
                        <div class="ui divider" style="margin-top: 40px; margin-bottom: 40px;"></div>
                        <h2 class="ui header">Rate</h2>
                        <table class="ui collapsing table">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>LOC total</th>
                                    <th>Working days</th>
                                    <th>Contribution</th>
                                    <th>Efficiency</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for author_name, author in rate['authors'].iteritems() %}
                                    <tr>
                                        <td>{% if not form.anonym.data %}{{ author_name }}{% else %}Coder {{ loop.index }}{% endif %}</td>
                                        <td>{{ author['loc'] }}</td>
                                        <td>{{ author['days'] }}</td>
                                        <td>{{ '%0.2f' % (author['contribution']*100) | float }}%</td>
                                        <td>{{ '%0.2f' % (author['efficiency']) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
